/* body {
  background: transparent;
  background-color:#FDF5F5;

} */

body {
  text-shadow: 1px .5px silver;
	width: 100vw;
	height: 90vh;
	color: #fff;
	background: linear-gradient(80deg, #F9A8A8, #FDF9F9, #DEDBF0, #F7E2E2);
	background-size: 400% 400%;
	animation: Gradient 15s ease infinite;
  z-index:-100;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;

}

div.video{
  position:absolute;
  margin:auto;
  top: 1;
  right: 0;
  margin-right:50px;
  margin-top:-100px;
  /* border: 3px dotted #F9A8A8; */
  border-radius:2px;
}

ul.cleanList{
  list-style-type:none;
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}



a, span.demo{
  color:silver;
  text-shadow: 1px .5px white;
  text-decoration: underline;
}

a:hover, span.demo:hover{
  color:powderblue;
  text-shadow: 1px .5px white, -.5px 3px #F7E2E2;
  cursor:pointer;
}

.bio, .projects{
  margin-top: 30px;
  margin-left: 15px;
}

.closeOut{
  position:absolute;
  left:-40px;
}

button{
    display: inline-block;
    padding: 7px 12px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: #F7E2E2;
    border: none;
    border-radius: 30px;
    box-shadow: 0 5px #F7E2E2;
    letter-spacing:1.5px;
}

button:hover {
  background-color: seashell;
  animation: button 10s infinite linear;
}

@keyframes button {
  0% {  font-size: 12px; }
  50%{  font-size: 20px; }
  100% {  font-size: 12px; }
}

button:active {
  background-color: mistyrose;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}


@keyframes colors {
  0% {  text-shadow: 20px 0px #a987ff; }
  50%{  text-shadow: 0px 0px #ffffff; }
  100%{  text-shadow: 19px 0px #a987ff; }

}
