* {
  box-sizing: border-box;
}

.topPart{
  grid-row: 1 / 1;
  grid-column: 2 /4;
  height:4em;
  letter-spacing: 5px;
  background-image:url("bkg.png") 10% 0 no-repeat fixed;
  top:0;
  /* background-size:10% ;
  background-position: 3em;
  background-repeat:repeat; */
}
.smaller{
  font-size:2vw;
  margin:0 auto;
}

.goop {
  border-color: rgba(25, 43, 194, 0.8);
  box-shadow: none;
	grid-column: 1/1;
	grid-row: 1 / 3;
  margin:0;
}

[data-grid='grid-cell'] {
	border-color: rgba(25, 43, 194, 0.8);
  box-shadow: 5px -5px rgba(25, 43, 194, 0.8);
  transition: box-shadow 0.5s ease;
  grid-column:2/4;
  grid-row:2/3;

  /* background-image:url("qu.png");
  background-size:90% ;
  background-position: -55em;
  background-repeat:repeat; */
}

[data-grid='grid-cell2'] {
	border-color: rgba(25, 43, 194, 0.8);
  transition: box-shadow 0.5s ease;
  grid-column:4/6;
  grid-row:2/3

}

[data-grid='grid-column'] {
	border-color: rgba(25, 43, 194, 0.8);
  box-shadow: 5px 5px rgba(25, 43, 194, 0.8);
	grid-column: 2 / 4;
	grid-row: 1 / 2;
  overflow:hidden;
  width:100%;
  height:100%;
}

[data-grid='grid-column2'] {
	border-color: rgba(25, 43, 194, 0.8);
	grid-column: 4 / 6;
	grid-row: 1 / 2;
  background-image:url("bkg.png");
  background-size:9% ;
  background-position: -5em;
  background-repeat:repeat;
	}
}

[data-grid='grid-area'] {
  box-shadow:5px -2px rgba(25, 43, 194, 0.8);
	border-color: rgba(25, 43, 194, 0.8);
	/* grid-column: 1; */
	/* grid-row: span 3; */
  background-image:url("bkg.png");
  background-size:30% ;
  background-position: 5em;
  background-repeat:repeat;
}



body {
  margin-top:150px;
  width: calc(100% - 2em);
  display: flex;
  background: #F9F4F4;
  text-align: center;
  padding: 0.5em;
  font-family:"Sina Nova", serif;
  margin-bottom:-5em;
  cursor:default;
}


main{
  position:relative;
  display:flex;
  text-align: center;
  padding: 0.5em;
  margin: 0;
}

*{
  width:100%;
}

header {
  z-index:100;
  position:fixed;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 3em);
  top: 0.5em;
  /* background: rgba(249, 244, 244, .4); */
  border:1px solid rgba(25, 43, 194, 0.8);
  height:8.9em;
  transition: transform 0.3s ease, background-image 2s ease;
  font-family:'helvetica';
  background-image:url("bkg3.png");
  background-size:10% ;
  background-position: 5em;
  background-repeat:repeat;
}


.top{
  max-width: 4em;
  max-height:4em;
  animation: spin 4s linear infinite;
  transition:filter .3s;
}

.other{
  max-width: 4em;
  max-height:4em;
  animation: spin 9s linear infinite reverse;
}

.title{
  color:#F9F4F4;
  -webkit-text-stroke: 1px black;
  text-align: center;
  font-family:helvetica, serif;
  font-size:3vw;
  font-weight: 900;
  max-width: 15em;
  /* transform:skewX(35deg); */
  letter-spacing:.5em;
  transition:text-shadow 1s ease, transform 2s ease, color .5s ease, -webkit-text-stroke .5s ease;
  text-shadow:0px 10px #F9F4F4, 0px 8px blue;
  transform:skewX(-5deg);
}

.top:hover{
  animation:spin 8s linear infinite;
  filter:invert(100%) drop-shadow(0px 10px #08415C) drop-shadow(-10px 4px darkblue);
}

.about:hover{
  background-color: rgba(255,255,255,.75);
}

.container{
  color:rgba(200,10,0, 1);
  letter-spacing: .3em;
  text-shadow:1px 1px #F9F4F4,2px 2px #F9F4F4,3px 3px #F9F4F4;
  margin-left: -8vw;
}

.container:nth-child(odd) {
    color: rgba(25, 43, 194, 1);
}
.container:nth-child(odd):hover{
  /* color:#08415C; */
}

.container:hover{
  text-decoration: overline;
  /* animation: shadow 8s linear infinite alternate; */
}


.title:hover, .ok:hover{
  -webkit-text-stroke: 1px rgba(255,255,255, 1);
  color:rgba(200,10,0, .8)
}


.category:hover{
  -webkit-text-stroke: 1px rgba(200,10,0, 1);

  color:rgba(200,10,0, 1)
}
.slant{
  margin:0;
  padding-bottom: .3em;
  letter-spacing:12px;
  transform:skew(5deg,-2deg);
  font-size:2.9vw;
}

@keyframes shadow {
  from{
    text-shadow: 3px 0px #F4E8C1, 0px 0px #FCF8EE;
  }
  to{
    text-shadow: 30px 8px #F4E8C1, -9px -2px #FCF8EE;
  }
}

@keyframes spin {
  from{transform: rotate(0deg)}
  to{transform: rotate(360deg)}
}

.category{
  color:#F9F4F4;
  font-size:3vw;
  position:relative;
  top:-1vw;
  -webkit-text-stroke: 1px rgba(25, 43, 194, 1);
  margin:2vw;
  transform:skewX(-5deg);
  transition: text-decoration .5s ease, color .5s ease;

}

main {
	display: grid;
	grid-gap: 16px;
	grid-template-columns: repeat(4, 1fr) minmax(50px, 1fr);
	/* grid-template-rows: repeat(4, min-content); */
	// grid-auto-flow will move cells to fit into grid where gaps are made (resize window to see gaps)
	grid-auto-flow: dense;
}

.box{
  transition: box-shadow 0.5s ease, font-size 2s ease;
  align-items:left;
  overflow: hidden;
  width:100%;
  height:100%;
}

.box:hover{
  box-shadow: -8px -5px rgba(200,10,0, 0.8);
}
.box:hover .cat {
  color: rgb(200,10,0);
  text-decoration:underline;
}
.tb{
  box-shadow: -5px -5px rgba(25, 43, 194, 0.8);
}
.tb:hover{
  box-shadow: 8px 5px rgba(200,10,0, 0.8)
}

/* @keyframes shadows {
  from{box-shadow: 5px 5px rgba(25, 43, 194, 0.8);}
  to{box-shadow: 10px -5px rgba(200,10,0, 0.8);}
} */

.active{
  background-color:black;
}

.cow{
  max-width: 100%;
  max-height:100%;
}

h1, h2 {
	margin: 0;
}

main div {
	border: 1px solid rgba(25, 43, 194, 0.8);
  box-shadow: -5px 5px rgba(25, 43, 194, 0.8);
	padding: .75vw 1vw;
}

h1 {
	color: rgb(25, 43, 194);
	/* font-size: 2em; */
	font-weight: 700;
	padding-top: .5rem;
}

[data-grid]  {
	border-width: 1px;
	border-style: solid;

	&:hover {
		color: #fff;
	}
}

.douglas3 {
	color: #E4844A;
}
/* a{
text-decoration: none;
} */

a{
  cursor:pointer
}
p {
	line-height: 1.5;
}

footer {
	display: grid;
	grip-gap: 16px;
	grid-template-columns: 10vw minmax(50px, 50vw) 1fr 2fr;
	margin: 0 1rem;

	p {
		grid-column: 2 / 4;
		margin-bottom: 5rem;
	}
}

@keyframes bkg {
	from {
		background-size: 50%
	}
	to {
		background-size: 60%
	}
}
.sel{
  display:inline-block;
  align:center;
  z-index:0;
  color:#F9F4F4;
  font-family:helvetica;
  letter-spacing: .5em;
  font-size: 2.1vw;
  -webkit-text-stroke: 1px rgba(25, 43, 194, 1);
  display: flex;
  flex-wrap:reverse;
  align-items: vertical;
  height: 100%;
  max-width:100%;
  overflow:hidden;
}
.selp{
  transition:color .5s ease;

}
.selp:hover{
  color:rgba(200,10,0, 1)
}

.left:nth-child(odd), .down:nth-child(even) {
  color:rgba(100,30,60, .75);
}

ul.cleanList{
  position:relative;
  line-height: 2em;
  list-style-type:none;
}
.proj1{
  margin:0 auto;
  float: center;
  font-size:1.9vw;
  margin-top:.5em;
}




.video2{
  visibility:collapse;
  position: relative;
  min-height:315px;
  min-width:560px;
  width:100%;
  height:100%;
}

#hoke, #lemontown, #tetrotis{
  /* border: 1px solid rgba(25, 43, 194, 0.8);
  padding: 10px; */
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  margin:auto;
  position:relative;
}

#rock{
  width:30%;
  height:22%;
}

#rocktop{
  width:22%;
  height:22%;
}

.rocktop{
  display:flex;
  border:none;
  box-shadow:none;
  margin:auto;
  max-width:100%;
  overflow:hidden;
  padding:0;

}

#field{
  width:120%;
  margin-left:-2em;
    height:100%;
    margin-top:1em;
    /* margin-bottom:50em; */


}
.ok{
  margin:0;
  color:#F9F4F4;
  -webkit-text-stroke: 1px black;
  text-align: center;
  font-family:helvetica, serif;
  font-size:3vw;
  font-weight: 900;
  /* transform:skewX(35deg); */
  letter-spacing:1em;
  transition:letter-spacing 1s ease, transform 2s ease, color .3s ease, -webkit-text-stroke .3s ease;;
  transform:skewX(-8deg);
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
  border:none;
  box-shadow:none;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

[data-grid='grid-row'] {
	background: rgba(250, 112, 112, 0);
  box-shadow:none;
  grid-column: 1 / -1; // -1 jumps to the last grid line to count from the end
	grid-row: -1/0;
  background-image:url("bkg.png");
  background-size:5% ;
  background-repeat:repeat;
  margin-bottom:1em;
  overflow:hidden;
  max-height: 20vh;
  box-shadow:none;
}
.goop:hover, [data-grid='grid-row']:hover{
  box-shadow:none;
}

.al{
  display:inline-block;
  text-align:left;
  text-justify: auto;
  font-size:1.2em;
}
.bio{
  margin:.5vw;
  overflow:auto;
  font-size:1.8vw;
}

.entry{
  grid-column: 1 / -1;
	grid-row: -1/0;
}

.link{
  /* transition:color .5s ease, -webkit-text-stroke .5s ease; */
}

.link:hover{
  color:rgba(200,10,0, 1)

}
/* .foot{
  top:4em;
} */
