/* body {
  background: transparent;
  background-color:#FDF5F5;

} */

body {
  text-shadow: 1px .5px silver;
	width: 100vw;
	height: 90vh;
	color: #fff;
	background: linear-gradient(80deg, #F9A8A8, #FDF9F9, #DEDBF0, #F7E2E2);
	background-size: 400% 400%;
	animation: Gradient 15s ease infinite;
  z-index:-100;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;

}

ul.cleanList{
  list-style-type:none
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

a{
  color:silver;
  text-shadow: 1px .5px white;
}

a:hover{
  color:powderblue;
  text-shadow: 1px .5px white, -.5px 3px #F7E2E2;
}

.bio, .projects{
  margin-top: 30px;
  margin-left: 15px
}

.lemon{
  font-size:200px;
  opacity:0.8;
}
.cool {
  position:absolute;
  font-family: 'Varela Round', sans-serif;
  font-size: 150px;
  align:center;
  font-style:italic;
  letter-spacing: 8px;
  color:#a987ff;
  text-shadow: 20px 0px #a987ff;
  z-index:100;
}

.cool:hover {
  animation: colors 2s infinite;
  animation-timing-function: ease-in-out;
}

@keyframes colors {
  0% {  text-shadow: 20px 0px #a987ff; }
  50%{  text-shadow: 0px 0px #ffffff; }
  100%{  text-shadow: 19px 0px #a987ff; }

}
